* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}

header span{
  font-size: 2rem;
}

.row{
  padding: 1rem;
}

div.row.search{
  background-color: #F44336;
}

.input-search{
  background-color: #ffffff !important;
  margin: 0 !important;
  padding: 6px 6px 6px 4rem !important;
}

.row span {
  font-size: 3rem;
  position: absolute;
  left: 1.2rem;
  color: #827c74;
}

.item-station{
  margin-bottom: 10px;
  padding: 0 2rem;
}

.btn-map{
  color: #7f8a8a;
  position: relative;
  top: 1rem;
  font-size: 2rem;
}

.stations{
  background-color: #ffffff !important;
}

#map{
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.row-map{
  padding: 0;
}

hr{
  margin-bottom: 1rem;
}

.product{
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  padding: 1rem !important;
  height: 3.5rem;
  border: 1px;
  background-color: #acb9b9;
  border-radius: 10px;
}

.btn-search{
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 2rem;
  color: #ffffff;
}

span.distance{
  display: flex;
  bottom: 2rem;
  font-size: 1rem;
  right: 5rem;
  justify-content: flex-end;
}
