* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #fff;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  background-color: #F44336;
}

header .fa-chevron-left {
  margin-right: 16px;
}

header span{
  font-size: 2rem;
}

.row{
  background-color: #F44336;
  padding: 1rem;
}


.input-search{
  background-color: #ffffff !important;
  margin: 0 !important;
  padding: 6px 6px 6px 4rem !important;
}

.row span {
  font-size: 3rem;
  position: absolute;
  left: 1.2rem;
  color: #827c74;
}

.item-station{
  margin-bottom: 10px;
  padding: 0 2rem;
}

.map-icon{
  position: relative !important;
  top: 1rem;
}

.stations{
  background-color: #ffffff !important;
}
